<div class='container-fluid'>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th>Activity</th>
            <th>Category</th>
            <th>Value</th>
          </tr>
          <tr ng-repeat="activity in activities">
            <td>{{activity.activity}}</td>
            <td>{{activity.category}}</td>
            <td>{{activity.value}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
