<div class='container-fluid'>
  <div class="row">
    <div class="col-sm-6">
      <h4>Recent trophies</h4>
      <p ng-repeat="trophy in trophies"><img class="size-thumb" src="./img/trophy_{{trophy.medal}}.png" alt="Trophy" tooltip="{{trophy.description}}" tooltip-placement="right"/><a href="#/profile/{{trophy.user}}">{{trophy.firstname}} {{trophy.lastname}}</a>: <span tooltip="{{trophy.description}}">{{trophy.achievement}}</span></p>
    </div>
    <div class="col-sm-6">
      <h4>Recent activities</h4>
      <p ng-repeat="activity in activities"><a href="#/profile/{{activity.user}}">{{activity.firstname}} {{activity.lastname}}</a>: {{activity.activity}} (x{{activity.quantity}}) &dash; {{activity.category}}: +{{activity.points}} pts</p>
    </div>
  </div>
</div>