<div class="footer-wrapper">
  <div>
    <p><a href="#/home">S-Games home</a></p>
    <p><a href="https://docs.google.com/a/conveydevelopment.com/forms/d/1NZo934KCLRtIgbdNQWNQo_GoH_uN4taSMaAQSJTvTIc/viewform?usp=form_confirm" target="_blank">Submit your activities</a></p>
    <p><a href="https://docs.google.com/a/conveydevelopment.com/forms/d/1PQUBLyIVahumh3ISHV-mW2y6i4xF2BSY4PuUB27bqM4/viewform" target="_blank">Suggest new trophies</a></p>
  </div>
  <div class="separator"></div>
  <div>
    <p><a href="#/trophies">Trophies list</a></p>
    <p><a href="#/activities">Activities list</a></p>
    <p><a href="#/challenges">Challenges list</a></p>
  </div>
  <div class="separator"></div>
  <div>
    <p><a href="#/halloffame">Hall of Fame</a></p>
    <p><a href="#/races/dev">Quarterly DEV Race</a></p>
    <p><a href="#/races/qa">Quarterly QA Race</a></p>
  </div>
  <div class="separator"></div>
  <div>
    <span class="vertical-center">
      <p>Copyright 2015 &copy;</p>
    </span>
  </div>
</div>