<div class="footer-wrapper">
  <div>
    <p>Contribute</p>
    <p><a href="https://github.com/Rubikar/sgames" target="_blank">GitHub project</a></p>
    <p><a href="">Contact us</a></p>
  </div>
  <div class="separator"></div>
  <div>
    <p>Legal</p>
    <p><a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html" target="_blank">License</a></p>
    <!-- <p><a href="">Terms and conditions</a></p> -->
  </div>
  <div class="separator"></div>
  <div>
    <span class="vertical-center">
      <p>Copyright 2015 &copy;</p>
    </span>
  </div>
</div>