<div class='profile-page'>
  <div class='title'><h2>{{userdata.firstname}} {{userdata.lastname}}</h2></div>
  <div class='trophies-information'>
    <div class='trophies-showroom'>
      <ul>
        <li>
          <img class="size-xxs" src="./img/trophy_bronze.png" alt="Bronze trophy">
          <h4>Bronze</h4>
          <p>{{profile.bronze}}</p>
        </li>
        <li>
          <img class="size-xs" src="./img/trophy_silver.png" alt="Silver trophy">
          <h4>Silver</h4>
          <p>{{profile.silver}}</p>
        </li>
        <li>
          <img class="size-s" src="./img/trophy_gold.png" alt="Gold Trophy">
          <h4>Gold</h4>
          <p>{{profile.gold}}</p>
        </li>
        <li>
          <img class="size-m" src="./img/trophy_platinum.png" alt="Platinum Trophy">
          <h4>Platinum</h4>
          <p>{{profile.platinum}}</p>
        </li>
        <li>
          <img class="size-l" src="./img/trophy_adamantium.png" alt="Adamantium Trophy">
          <h4>Adamantium</h4>
          <p>{{profile.adamantium}}</p>
        </li>
      </ul>
    </div>
    <div class='trophyPercentage'>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{userTrophiesPercent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{userTrophiesPercent}}%">
          {{userTrophiesPercent}}%
        </div>
      </div>
    </div>
  </div>
  

<accordion close-others="oneAtATime">
  <accordion-group>
    <accordion-heading>
    Recent trophies
    </accordion-heading>
    <p ng-repeat="trophy in trophies"><img class="size-thumb" src="./img/trophy_{{trophy.medal}}.png" alt="Trophy"> {{trophy.achievement}}</p>
  </accordion-group>
  <accordion-group is-open="status.open">
    <accordion-heading>
    Recent activities
    </accordion-heading>
    <p ng-repeat="activity in activities">{{activity.activity}} (x{{activity.quantity}}) &dash; {{activity.category}}: +{{activity.points}} pts</p>
  </accordion-group>
</accordion>

</div>